extends layout
block content
  section.content-header
    h1 Главная страница
  section.content
    a(href="#")#lol: h3 Click me! :-)

block script
  script.
    window.addEventListener('DOMContentLoaded', ev => {
      document.querySelector('#lol').addEventListener('click', ev => {
        ev.preventDefault();
        alert('TODO: Easter egg');
        window.location.href = '/cab';
        /* TODO: Easter egg */
      });
    });
