extends layout
block content
  - const url = "//docs.google.com/spreadsheets/d/1Wqeb8RXQefPn-RDGDFTLYXVXe3_fVgolrMi28ChnBmk/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
  section.content
    .embed-responsive.embed-responsive-16by9: iframe(src=url)
