doctype html
html
  head
    title Error
  body
    a(href="javascript:history.back()") Go back
    h2.text-center.text-uppercase= err.message
    hr
    .spacer
    if !production
      .stack: pre= err.stack
    style
      include assets/bs-text.css
      include assets/error.css

