html(doctype=html)
  head
    title Науч.Круг
    meta(charset="UTF-8")
  body
    .page-wrap
      header.page-header
      main.page-main
        block content
      footer.page-footer
    script(src="")
