// Main Footer
footer.main-footer
    // To the right
    .pull-right.hidden-xs
        | Версия кабинета: 1.1
    // Default to the left
    strong
        | Copyright © 2016
        a(href='#') Науч.Круг
        | .
    |  Все права защищены.
// Control Sidebar
//
  Add the sidebar's background. This div must be placed
  immediately after the control sidebar
.control-sidebar-bg
// ./wrapper
// REQUIRED JS SCRIPTS
// Bootstrap 3.3.6
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
// Ещё
script(src='static/dist/js/app.min.js')
script(src='static/plugins/fastclick/fastclick.js')
// DataTables
script(src='static/plugins/datatables/jquery.dataTables.min.js')
script(src='static/plugins/datatables/dataTables.bootstrap.min.js')
// SlimScroll
script(src='static/plugins/slimScroll/jquery.slimscroll.min.js')
// FastClick
script(src='static/plugins/fastclick/fastclick.js')
// PACE
script(src='static/plugins/pace/pace.min.js')
