html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Науч.Круг - личный кабинет
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/cab/static/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/cab/static/dist/css/skins/skin-green.min.css')
    //link(rel='stylesheet', href='/cab/static/plugins/datatables/dataTables.bootstrap.css')
    //link(rel='stylesheet', href='/cab/static/plugins/pace/pace.min.css')
    // Custom styles
    link(rel='stylesheet', href='/cab/styles.css')

  body.hold-transition.skin-green.sidebar-mini
    .wrapper
      header.main-header
        a.logo(href='#')
          span.logo-mini
            b Н
            | К
          // Большое лого
          span.logo-lg
            b Науч.
            | Круг
        // Навигация по шапке
        nav.navbar.navbar-static-top(role='navigation')
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Шапка
          // Правая часть шапки
          .navbar-custom-menu
            ul.nav.navbar-nav
              // Аккаунт пользователя
              li.dropdown.user.user-menu
                // Кнопка
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  // Изображение в логотипе
                  img.user-image(src='/images/avatar1.png', alt='User Image')
                  // hidden-xs hides the username on small devices so only the image appears.
                  span.hidden-xs $username $surname
                ul.dropdown-menu
                  // The user image in the menu
                  li.user-header
                    img.img-circle(src='/images/avatar1.png', alt='User Image')
                    p
                      | $username $surname
                      small $user_status
                  // Menu Body
                  li.user-body
                    .row
                      .col-xs-4.text-center
                        a(href='#') На сайт
                      .col-xs-4.text-center
                        a(href='#') Новости
                      .col-xs-4.text-center
                        a(href='#') Лента
                    // /.row
                    // Menu Footer
                    li.user-footer
                      .pull-left
                        a.btn.btn-default.btn-flat(href='#') Профиль
                      .pull-right
                        a.btn.btn-default.btn-flat(href='#') Выход
              // Кнопка для отправки предложений пользователей

      // Left side column. contains the logo and sidebar
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel (optional)
          .user-panel
            .pull-left.image
              img.img-circle(src='/images/avatar1.png', alt='User Image')
            .pull-left.info
              p $username $surname
              // Status
              a(href='#')
                i.fa.fa-circle.text-success
                |  В сети

          ul.sidebar-menu
            li.header Основное
              // Optionally, you can add icons to the links
              li
                a(href='#')
                  i.fa.fa-home
                  span Главная страница
              li
                a(href='#')
                  i.fa.fa-mortar-board
                  span Статистика
              li.treeview
                a(href='#')
                  i.fa.fa-briefcase
                  span Решать
                  span.pull-right-container
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#') ЕГЭ по математике
                  li
                    a(href='#') ЕГЭ по информатике
                  li
                    a(href='#') ЕГЭ по русскому языку
                  li
                    a(href='#') ЕГЭ по базовой математике

            li.header Для модератора
              li.treeview
                a(href='#')
                  i.fa.fa-link
                  span Задачи
                  span.pull-right-container
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#') Добавить задачу
                  li
                    a(href='#') Банк задач
                  li
                    a(href='#') Добавить изображение
              li.treeview
                a(href='#')
                  i.fa.fa-group
                  span Страницы
                  span.pull-right-container
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#') Добавить новую страницу
                  li
                    a(href='#') Добавить новость
                  li
                    a(href='#') Опубликованное

            li.header Администрирование
              li.treeview
                a(href='#')
                  i.fa.fa-link
                  span Курсы
                  span.pull-right-container
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#') Добавить курс
                  li
                    a(href='#') Добавить категорию

              li.treeview
                a(href='#')
                  i.fa.fa-link
                  span Пользователи
                  span.pull-right-container
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#') Добавить пользователя
                  li
                    a(href='#') Поиск пользователя по ID

      div
        .content-wrapper
          block content
      footer.main-footer
        .pull-right.hidden-xs
          | Версия кабинета: 1.1
        strong
          | Copyright © 2016
          a(href='#').black-anchor Науч.Круг
        | .
        |  Все права защищены.
      .control-sidebar-bg
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(defer, src='/cab/static/dist/js/app.min.js')
    //script(defer, src='/cab/static/plugins/fastclick/fastclick.js')
    //script(defer, src='/cab/static/plugins/datatables/jquery.dataTables.min.js')
    //script(defer, src='/cab/static/plugins/datatables/dataTables.bootstrap.min.js')
    //script(defer, src='/cab/static/plugins/slimScroll/jquery.slimscroll.min.js')
    //script(defer, src='/cab/static/plugins/pace/pace.min.js')
    block script
