doctype html
html
  title=title
  head
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    // Font Awesome
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='/cab/static/dist/css/AdminLTE.min.css')
    //link(rel='stylesheet', href='/cab/static/stylesheets/styles.css')
    //link(rel='stylesheet', href='/cab/static/dist/css/skins/_all-skins.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='/cab/static/dist/css/AdminLTE.min.css')
    //link(rel='stylesheet', href='/cab/static/stylesheets/styles.css')
    link(rel='stylesheet', href='/cab/static/dist/css/skins/_all-skins.min.css')
    //Глобальные стили
    link(rel='stylesheet', href='/cab/styles.css')

    // jQuery 2.2.3
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    // Bootstrap 3.3.6
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    // SlimScrolls
    script(src='/cab/static/plugins/slimScroll/jquery.slimscroll.min.js')
    // FastClick
    script(src='/cab/static/plugins/fastclick/fastclick.js')
    // AdminLTE App
    script(src='/cab/static/dist/js/app.min.js')

    body.hold-transition.skin-green.layout-top-nav
        .wrapper
            header.main-header
                nav.navbar.navbar-static-top
                    .container
                        .navbar-header
                            a.navbar-brand(href='../../index2.html')
                                b Admin
                                | LTE
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                                i.fa.fa-bars
                        // Collect the nav links, forms, and other content for toggling
                        #navbar-collapse.collapse.navbar-collapse.pull-left
                            ul.nav.navbar-nav
                                li.active
                                    a(href='#')
                                        | Link
                                        span.sr-only (current)
                                li
                                    a(href='#') Link
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        | Dropdown
                                        span.caret
                                    ul.dropdown-menu(role='menu')
                                        li
                                            a(href='#') Action
                                        li
                                            a(href='#') Another action
                                        li
                                            a(href='#') Something else here
                                        li.divider
                                        li
                                            a(href='#') Separated link
                                        li.divider
                                        li
                                            a(href='#') One more separated link
                            form.navbar-form.navbar-left(role='search')
                                .form-group
                                    input#navbar-search-input.form-control(type='text', placeholder='Search')
                        // /.navbar-collapse
                        // Navbar Right Menu
                        .navbar-custom-menu
                            ul.nav.navbar-nav
                                // Messages: style can be found in dropdown.less
                                li.dropdown.messages-menu
                                    // Menu toggle button
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.fa.fa-envelope-o
                                        span.label.label-success 4
                                    ul.dropdown-menu
                                        li.header You have 4 messages
                                        li
                                            // inner menu: contains the messages
                                            ul.menu
                                                li
                                                    // start message
                                                    a(href='#')
                                                        .pull-left
                                                            // User Image
                                                            img.img-circle(src='../../dist/img/user2-160x160.jpg', alt='User Image')
                                                        // Message title and timestamp
                                                        h4
                                                            | Support Team
                                                            small
                                                                i.fa.fa-clock-o
                                                                |  5 mins
                                                        // The message
                                                        p Why not buy a new awesome theme?
                                                // end message
                                            // /.menu
                                        li.footer
                                            a(href='#') See All Messages
                                // /.messages-menu
                                // Notifications Menu
                                li.dropdown.notifications-menu
                                    // Menu toggle button
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.fa.fa-bell-o
                                        span.label.label-warning 10
                                    ul.dropdown-menu
                                        li.header You have 10 notifications
                                        li
                                            // Inner Menu: contains the notifications
                                            ul.menu
                                                li
                                                    // start notification
                                                    a(href='#')
                                                        i.fa.fa-users.text-aqua
                                                        |  5 new members joined today
                                                // end notification
                                        li.footer
                                            a(href='#') View all
                                // Tasks Menu
                                li.dropdown.tasks-menu
                                    // Menu Toggle Button
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.fa.fa-flag-o
                                        span.label.label-danger 9
                                    ul.dropdown-menu
                                        li.header You have 9 tasks
                                        li
                                            // Inner menu: contains the tasks
                                            ul.menu
                                                li
                                                    // Task item
                                                    a(href='#')
                                                        // Task title and progress text
                                                        h3
                                                            | Design some buttons
                                                            small.pull-right 20%
                                                        // The progress bar
                                                        .progress.xs
                                                            // Change the css width attribute to simulate progress
                                                            .progress-bar.progress-bar-aqua(style='width: 20%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                                                                span.sr-only 20% Complete
                                                // end task item
                                        li.footer
                                            a(href='#') View all tasks
                                // User Account Menu
                                li.dropdown.user.user-menu
                                    // Menu Toggle Button
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        // The user image in the navbar
                                        img.user-image(src='../../dist/img/user2-160x160.jpg', alt='User Image')
                                        // hidden-xs hides the username on small devices so only the image appears.
                                        span.hidden-xs Alexander Pierce
                                    ul.dropdown-menu
                                        // The user image in the menu
                                        li.user-header
                                            img.img-circle(src='../../dist/img/user2-160x160.jpg', alt='User Image')
                                                | Alexander Pierce - Web Developer
                                                small Member since Nov. 2012
                                        // Menu Body
                                        li.user-body
                                            .row
                                                .col-xs-4.text-center
                                                    a(href='#') Followers
                                                .col-xs-4.text-center
                                                    a(href='#') Sales
                                                .col-xs-4.text-center
                                                    a(href='#') Friends
                                            // /.row
                                        // Menu Footer
                                        li.user-footer
                                            .pull-left
                                                a.btn.btn-default.btn-flat(href='#') Profile
                                            .pull-right
                                                a.btn.btn-default.btn-flat(href='#') Sign out
        .content-wrapper

            block content