extends layout
block content
  section.content-header
    h1 Добавление задачи
    hr.under-heading
  section.content
    form(role="form", name="add-task", enctype="multipart/form-data")#add-task
      fieldset.form-group: .input-group
        span.input-group-addon Номер задания:
        input(pattern="[0-9]+", autofocus, required, name="number", type="number", placeholder="Например: 24").form-control
      fieldset.form-group: .input-group
        span.input-group-addon Ответ задания:
        input(required, name="answer", type="text", placeholder="Например: 2").form-control
      fieldset.form-group: .input-group
        span.input-group-addon Изображение:
        input(required, name="image", type="file").form-control
      fieldset.form-group
        label: h4 Текст задания
        textarea(required, name="text").hidden#task-editor
      fieldset.form-group
        label: h4 Пояснение
        textarea(required, name="description", type="text").hidden#description-editor
      button(type="submit", name="send").btn.btn-default.btn-flat#send-task Отправить
  .modal.fade#message(role="dialog", tabindex="-1", aria-labeledby="#message-label"): .modal-dialog(role="document"): .modal-content
    //.modal-header
      //button(type="button", data-dissmiss="modal").close &times;
      h4.text-center Результат
    .modal-body: h1.text-center#message-body

block script
  //script(defer, src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTM")
  script(async, src="/cab/static/tinymce.min.js")
  script(async, src="/cab-add.js")
  style: clean-css.
    hr.under-heading{
      background:#999;
      margin-top:5px;
      margin-bottom:0;
      padding: 0;
      height: 1px;}
    .hidden{visibility:hidden;display:none;opacity:0;}
