extends layout
block content
  -
    const subjects = [{
      short: "inf", name: "Информатика"
    },{
      short: "math", name: "Математика (профиль)"
    },{
      short: "rus", name: "Русский язык"
    },{
      short: "mathb", name: "Математика (база)"
    },{
      short: "lit", name: "Литература"
    },{
      short: "eng", name: "Английский язык"
    },{
      short: "obs", name: "Обществознание"
    }]

  <div class="no-content-wrapper">
    <!-- Шапка страницы -->
    <section class="content-header">
      <h1>
        | Посмотреть задания из банка задач
      </h1>
    </section>

    <!-- Секция контента -->
    <section class="content">
      <form name="sender" method="POST">
        <fieldset class="form-group" name="select">
          <label>
            <small>Выберите интересующий вас раздел: </small>
          </label>
          <select class="form-control" name="main">
            each subj in subjects
              <option value=`ex_${subj.short}`>#{subj.name}</option>
          </select>
        </fieldset>
        <fieldset name="submit">
          <input type="submit" class="btn btn-primary btn-block btn-flat" value="Посмотреть" name="see">
        </fieldset>
      </form>



    </section>
    <!-- /.content -->
    </div>
