extends layout
block content
  <section class="content-header">
    <h1>Управление командой</h1>
    <hr class="under-heading"/>
    <section class="content">
      <form id="add-user" role="form" name="capitan" enctype="multipart/form-data">
        <fieldset class="form-group">
          <div class="input-group"><span class="input-group-addon">Назначить дату собрания:</span>
            <input autofocus="autofocus" name="date" type="date" class="form-control"/>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label><span>Добавить новость:</span></label>
          <textarea required="required" name="text" id="add-news" class="hidden"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <button id="send-task" type="submit" name="send" class="btn btn-default btn-flat">Сохранить</button>
        </fieldset>
      </form>
    </section>
  </section>
  <script async src="/cab/static/tinymce.min.js"></script>
  <script async src="/cab-add.js"></script>
  style: clean-css.
    hr.under-heading{
      background:#999;
      margin-top:5px;
      margin-bottom:0;
      padding: 0;
      height: 1px;}
   .hidden{transition:opacity .3s ease-in-out;visibility:hidden;display:none;opacity:0;}
