extends layout
block content
  <section class="content-header">
    <h1>Управление командой</h1>
    <hr class="under-heading"/>
    <section class="content">
      <form id="add-user" role="form" name="capitan" enctype="multipart/form-data">
        <fieldset class="form-group">
          <label>Дата собрания:</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="date" class="form-control" name="datesobr">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label><span>Добавить новость:</span></label>
          <textarea required="required" name="text" id="add-news" class="hidden"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <button id="send-task" type="submit" name="send" class="btn btn-default btn-flat">Сохранить</button>
        </fieldset>
      </form>
    </section>
  </section>
  <script async src="/cab/static/tinymce.min.js"></script>
  <script async src="/cab-add.js"></script>
  
