extends layout
block content
  section.content-header
    h1 Главная страница
  section.content
    h3 До выхода в свет осталось совсем мало времени!

block script
    script(async, src='http://megatimer.ru/s/d969ca99a82bce790ba6eb6a2f693e34.js')
