extends layout
block content
  section.content-header
    h1 Заголовок
    small Жопа негра
  section.content
    h3 05.08.2016 было обновление. Сейчас Максим занят изучением фреймворка node.JS, поэтому ждём-с)
