doctype html
html
  head
    title Ошибка
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
  body
    .page-wrap
      .message-wrap
        img(src='/images/email.png')
        .message= status === 404 ? 'Страница не найдена' : 'Произошла ошибка'
        .description.
          Вы можете попробовать вернуться на главную страницу, там много полезной информации =)

    if __DEV__
      .stack-wrap
        hr.dotted(style="opacity:0;")
        pre.stack= stack

    style: include:clean-css assets/error.css
    if __DEV__
      style: clean-css.
        @media (max-height: 600px) {
          img {
           opacity: 0;
           visibility: hidden;
          }
        }
        @media (max-width: 700px) {
          img {
            opacity: 0;
            visibility: hidden;
          }
          .message-wrap {
            font-size: 9px;
          }
        }
    else
      style: clean-css.
        .stack-wrap {
          visibility: hidden;
          display: none;
        }
