extends ../layout
block content
  section.content-header
    h1 Форма регистрации
    hr.under-heading
  section.content
    form(role="form", name="reg", enctype="multipart/form-data")#add-user
      fieldset.form-group: .input-group
        span.input-group-addon Логин
        input(autofocus, required, name="name", type="text", placeholder="vasya2016").form-control
      fieldset.form-group: .input-group
        span.input-group-addon Имя
        input(autofocus, required, name="firstname", type="text", placeholder="Пупкин").form-control
      fieldset.form-group: .input-group
        span.input-group-addon Фамилия
        input(required, name="secondname", type="text", placeholder="Пупкин").form-control
      fieldset.form-group: .input-group
        span.input-group-addon E-mail
        input(required, name="email", type="email", placeholder="vaspupkin@vas.ru").form-control
      fieldset.form-group: .input-group
        span.input-group-addon Пароль
        input(required, name="password", type="password").form-control
      fieldset.form-group: label.checkbox-inline
        input(required, type='checkbox', name='check', value="1")
        | Согласны с правилами проекта
      fieldset.form-group
        button(type="submit", name="send").btn.btn-default.btn-flat#send-task Отправить
  .modal.fade#message(role="dialog", tabindex="-1", aria-labeledby="#message-label"): .modal-dialog(role="document"): .modal-content
    .modal-header
      button(type="button", data-dissmiss="modal").close &times;
      h4.text-center Результат регистрации:
    .modal-body: h1.text-center#message-body

block script
  script(async, src="/cab/static/tinymce.min.js")
  //script(async, src="/cab-add.js")
  style: clean-css.
    .notice-sub {
      margin-bottom: 10px;
    }
    hr.under-heading{
      background:#999;
      margin-top:5px;
      margin-bottom:0;
      padding: 0;
      height: 1px;}
    .hidden{transition:opacity .3s ease-in-out;visibility:hidden;display:none;opacity:0;}
