doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Науч.Круг - личный кабинет
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/cab/static/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/cab/static/dist/css/skins/skin-green.min.css')
    //link(rel='stylesheet', href='/cab/static/plugins/datatables/dataTables.bootstrap.css')
    link(rel='stylesheet', href='/cab/static/plugins/pace/pace.min.css')
    // Custom styles
    link(rel='stylesheet', href='/cab/styles.css')
    style.
      body{
      background: rgb(243, 243, 243);
      }
      }
  body
    .login-box
      // /.login-logo
      .login-box-body
        // Здесь будет вывод сообщений
        #result_div
        .login-logo
          img(src='application/logo-min.png')
        p.login-box-msg Регистрация
        center
          form#form_id(name='send', action='', method='POST')
            .form-group.has-feedback
              input.form-control(type='text', name='name', placeholder='Ваше имя', required='')
              span.glyphicon.glyphicon-pencil.form-control-feedback
            .form-group.has-feedback
              input.form-control(type='text', name='surname', placeholder='Ваша фамилия', required='')
              span.glyphicon.glyphicon-road.form-control-feedback
            .form-group.has-feedback
              input.form-control(type='email', name='email', placeholder='Ваш Email', required='')
              span.glyphicon.glyphicon-inbox.form-control-feedback
            .form-group.has-feedback
              input.form-control(type='text', name='login', placeholder='Придумайте себе логин', required='')
              span.glyphicon.glyphicon-user.form-control-feedback
            .form-group.has-feedback
              input.form-control(type='password', name='password', placeholder='Придумайте пароль', required='')
              span.glyphicon.glyphicon-lock.form-control-feedback
            // /.col
            | **Регистрируясь, вы согласны с правилами регистрации и использования проекта Науч.Круг
            button.btn.btn-primary.btn-block.btn-flat(type='submit', name='regme', onclick="Send('form_id','result_div','_register.php'); return false;") Зарегистрироваться
            // /.col
          // /.social-auth-links
          h4 Уже зарегистрированы?
          a.text-center(href='login.php') Войдите
      // /.login-box-body
    // /.login-box
    // jQuery 2.2.3
    // Bootstrap 3.3.6
    script(src='application/bootstrap/js/bootstrap.min.js')
